.storybook-button {
  display: inline-block;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1;
}

.storybook-button-primary {
  background-color: hsl(203deg 98% 55%);
  color: white;
}

.storybook-button-secondary {
  background-color: transparent;
  box-shadow: hsl(0deg 0% 0% / 15%) 0 0 0 1px inset;
  color: hsl(0deg 0% 20%);
}

.storybook-button-small {
  padding: 10px 16px;
  font-size: 12px;
}

.storybook-button-medium {
  padding: 11px 20px;
  font-size: 14px;
}

.storybook-button-large {
  padding: 12px 24px;
  font-size: 16px;
}
